.octocat {
  @apply absolute right-0 top-0 border-0;
}

.octocat:hover .octocatArm {
  animation: octocatWave 560ms ease-in-out;
}

.octocatArm {
  transform-origin: 130px 106px;
}

@keyframes octocatWave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
